<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         resolveDependencies="true">
    <testsuites>

        <testsuite name="Project Test Suite">
            <directory>tests/</directory>
        </testsuite>

        <!--<testsuite name="PhpLab\Bundle Test Suite">
            <directory>vendor/php7lab/bundle/tests/</directory>
        </testsuite>-->

        <testsuite name="PhpLab\Core Test Suite">
            <directory>vendor/php7lab/core/tests/</directory>
        </testsuite>

        <testsuite name="PhpLab\Dev Test Suite">
            <directory>vendor/zntool/dev/tests/</directory>
        </testsuite>

        <testsuite name="PhpLab\Eloquent Test Suite">
            <directory>vendor/zncore/db/tests/</directory>
        </testsuite>

        <testsuite name="PhpLab\Rest Test Suite">
            <directory>vendor/php7lab/rest/tests/</directory>
        </testsuite>

        <!--<testsuite name="PhpLab\Sandbox Test Suite">
            <directory>vendor/php7lab/sandbox/tests/</directory>
        </testsuite>-->

        <testsuite name="PhpLab\Test Test Suite">
            <directory>vendor/zntool/test/tests/</directory>
        </testsuite>

        <testsuite name="PhpLab\Web Test Suite">
            <directory>vendor/php7lab/web/tests/</directory>
        </testsuite>

    </testsuites>
</phpunit>